/CV-Notebooks-Summer-2022
/Team Members/Fiona Chan/SerpApi_Images
/Team Members/Fiona Chan/data
/Team Members/Fiona Chan/Celebrity-3
/Team Members/Fiona Chan/train_set
/Team Members/Fiona Chan/test_set/Team Members/Cherry Ng/SerpApi_Images
/Team Members/Cherry Ng/data
/Team Members/Cherry Ng/Celebrity-3
/Team Members/Cherry Ng/train_set
/Team Members/Cherry Ng/test_set
/Team Members/Kavin Prabhakar/SerpApi_Images
/Team Members/Kavin Prabhakar/data
/Team Members/Kavin Prabhakar/Celebrity-3
/Team Members/Kavin Prabhakar/train_set
/Team Members/Kavin Prabhakar/test_set
/Team Members/Sabrina Cheung/SerpApi_Images
/Team Members/Sabrina Cheung/data
/Team Members/Sabrina Cheung/Celebrity-3
/Team Members/Sabrina Cheung/train_set
/Team Members/Sabrina Cheung/test_set
